
.searchList span {
  cursor:pointer;
  
}

.searchList p {
  padding: 5px;
}

.content {
  text-align: center;
}

.container, .row{
  position: absolute;
  left:0px;
  top:70px;
  width: 100%;
  height:100%;
  text-align: center;
}

.searchList {
  position: relative;
  text-align: center;
  z-index: 1;
}